@model BangazonWorkforceManagement.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h2>Department Details</h2>

<div>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
