@{
    ViewData["Title"] = "Home Page";
}
<div class="homepage">
<div class="container welcome">
<h1><center>Welcome to Bangazon Workforce Management</center></h1>
    <!--<img src="~/images/bang.jpg" alt="Bangazon Logo" class="banglogo"/>-->
</div>

<div id="main-links" class="main-div">
    <div class="container main-container">
        <div class="col-md-3">
            
        </div>
    </div>
</div>
</div>
