@model BangazonWorkforceManagement.Models.ViewModels.EmployeeEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Employee.EmployeeId" />
        <div class="form-group">
            <label asp-for="Employee.FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Employee.FirstName" class="form-control" readonly />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Employee.LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Employee.DepartmentId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Employee.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Computers" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Computers" class="form-control" asp-items="ViewBag.ComputerId"></select>
                <span asp-validation-for="Computers" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Employee.StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Employee.StartDate" class="form-control" />
                <span asp-validation-for="Employee.StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Employee.Supervisor" />
                    <label asp-for="Employee.Supervisor"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
